.VerticalNav{
    position: fixed;
    top: 12%;
    height: 100vh;
    width: 10vw;
    background-color: #949b95;
    border-right: #231f20 solid 1px;
}

a{
    text-decoration: none;
}

.menuVer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #231f20;
    color:#949b95 ;
    transition: 0.5s;
    margin: 2px;
}

.menuVer a{
    color: #949b95;
    margin-top: 100%;
    margin-bottom: 3%;
}

.linkMenu{
    
    display: flex;
    flex-direction: column;
}

.menuVer:hover{
    color:#52b244;
    text-shadow:#3e805d 1px 0 10px;
    transition: 0.5s;
}