.slider {
    width: 500px;
    height: 250px;
    overflow: hidden;
    margin: 150px auto;
}
.slides {
    width: calc(500px * 3);
    animation: glisse 15s infinite;
}
.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

.slide img{
    width: 500px;
    height: 250px;
}

#carousel1 h1{
    text-align: center;
    margin-top: 5%;
}

