.card{
    border: black solid 1px;
    height: 50vh;
    width: 40vw;
    display: flex;
    margin: 1%;
    background-color: #0d407f ;
    color: #949b95;
}

.imgcard{
    max-width: 50%;
    max-height: 150%;
}

img{
    height: 100%;
    width: 100%;
}

.text{
    width: 50%;

}

.titlecard{
    text-align: center;
}

body{
    background-color: #DEDAD9;
}

.textcard{
    margin-left:5%;
}

.cards{
    display: flex;
}